/* Style overrides for the app */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app-root {
    flex: 1;
    min-height: 0; /* Prevent app from exceeding parent height; no clue why it works tho */
}

#app-sidebar .nav-link>i {
    /* Sidebar icons */
    margin-right: 0.5rem;
    font-size: 0.8rem;
    bottom: 0.1rem;
    position: relative
}

#app-root:not(.sidebar-visible) #app-sidebar {
    display: none;
}

@media (max-width: 991px) {
    /* CSS overrides on smaller screens where the menu is collapsible */

    #app-menubar {
        padding-top: 0.6rem;
        padding-bottom: 0.3rem;
    }

    #app-root.sidebar-visible #app-maincontent {
        display: none;
    }

    #app-root.sidebar-visible #app-sidebar {
        width: 100vw;
    }
}

body.swal2-shown:not(.swal2-no-backdrop) {
    overflow: scroll;
    height: 100vh !important;
}

/* DEBUG */

body:not(.debug) .debug-only {
    display: none;
}
