/* Dark mode (via inversion) */

#app-maincontent.darkmode {
    background-color: white !important;
    filter: invert(1);
}

#app-maincontent.darkmode img:not(.dm-noinvert),
#app-maincontent.darkmode *[class*="-success"]:not(.dm-noinvert),
#app-maincontent.darkmode *[class*="-danger"]:not(.dm-noinvert),
#app-maincontent.darkmode *[class*="-primary"]:not(.dm-noinvert),
#app-maincontent.darkmode *[class*="-warning"]:not(.dm-noinvert),
#app-maincontent.darkmode *[class*="-info"]:not(.dm-noinvert):not(.fa-info-circle),
#app-maincontent.darkmode .dm-invert {
    filter: invert(1);
}

#app-maincontent.darkmode .dm-invert-children>* {
    filter: invert(1);
}
