{% extends 'teamized/club/base.html' %}

{% block title %}{{ club.name }}{% endblock title %}
{% block menubartitleurl %}{% url 'teamized:club_login' clubslug=club.slug %}{% endblock menubartitleurl %}
{% block menubartitlecontent %}{{ club.name }}{% endblock menubartitlecontent %}

{% block content %}

    {{ club.description | linebreaks | urlize }}

    <hr/>


    {% if logged_in_members %}
        <h5>Fortfahren als</h5>
        <div class="d-flex flex-row gap-2">
            {% for data in logged_in_members %}
                <a class="btn btn-success" href="{{ data.url }}">
                    <i class="fas fa-fw fa-user"></i>
                    <span class="ms-2">{{ data.member.first_name }} {{ data.member.last_name }}</span>
                </a>
            {% endfor %}
        </div>
        <hr/>
    {% endif %}

    <h5>Mitglieder-Login</h5>
    <form class="row g-3" method="post">
        {% csrf_token %}

        <div class="col-12">
            <label for="email" class="form-label">E-Mail</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-fw fa-envelope"></i>
                <span class="ms-2">Magischen Link anfordern</span>
            </button>
        </div>
    </form>

    <hr/>

    <p class="mt-4">Auf der Suche nach dem Adminbereich? <a
            href="{% url 'teamized:app' %}?p=club&t={{ club.team.uid }}">Hier entlang!</a></p>

{% endblock content %}
