{% extends 'teamized/base.html' %}
{% load static i18n %}

{% comment %} This is the main app page. All the action happens on this page.{% endcomment %}

{% block title %}{% translate "App" %}{% endblock title %}

{% block extrahead %}
    <!-- SweetAlert 2 stylesheets (dark mode and light mode)-->
    <link id="swal-dark" rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5.0.12/dark.min.css"
          integrity="sha256-skRkShokaAoYfW/d2CyV/joIeNGSgJDhirUmy9NKTNk=" crossorigin="anonymous">
    <link id="swal-light" rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.32/dist/sweetalert2.min.css"
          integrity="sha256-9sjPKPDYQR/DJmNyvwjrb45imS33xVjgOS9nLcWvSac=" crossorigin="anonymous">
    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="{% static 'teamized/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'teamized/css/darkmode.css' %}">
{% endblock extrahead %}

{% block menubartitle %}
    <!-- Sidebar trigger with menubar title -->
    <a id="menubartitle" class="navbar-brand ms-1 sidebar-toggle" href="#">
        <i class="fa-fw fa-solid fa-square-caret-left when-open"></i>
        <i class="fa-fw fa-solid fa-square-caret-right when-closed"></i>
        <span class="ms-1">Teamized</span>
    </a>
{% endblock menubartitle %}

{% block additional_menubar_items %}
    <!-- Team switcher -->
    <div id="app-menubar">
        <!-- Filled by React -->
    </div>
    <!-- Reload button -->
    <li class="nav-item border-lg rounded border-secondary ms-2" id="refreshbutton">
        <a class="nav-link ms-1 me-1" href="#" title="{% translate "Neu laden" %} (F5)">
            <i class="fas fa-fw fa-rotate"></i>
            <span class="d-lg-none ms-2">{% translate "Neu laden" %}</span>
        </a>
    </li>
    <!-- Hidden DEBUG menu item (activate via Shift+F6) -->
    <li class="nav-item dropdown border-lg rounded border-danger ms-2 debug-only">
        <a class="nav-link dropdown-toggle ms-1 me-1 text-danger" href="#" title="DEBUG MENU" role="button"
           data-bs-toggle="dropdown">
            <i class="fas fa-fw fa-bug"></i>
            <span class="d-lg-none ms-2">DEBUG MENU</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item text-info" href="#"
                   onclick="window.open('{% url "teamized:app-debug" %}', '_blank');">DEBUG-Seite öffnen</a></li>
            <li><a class="dropdown-item text-danger" href="#" onclick="window._App.Utils.toggleDebug()">DEBUG-Modus
                verlassen (Shift+F6)</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" onclick="window._App.Navigation.reRender(); alert('Done!')">Navigation.reRender()</a>
            </li>
            <li><a class="dropdown-item" href="#" onclick="window.location.reload(true)">location.reload(true)</a></li>
        </ul>
    </li>
{% endblock additional_menubar_items %}

{% block scripts %}
    {{ block.super }}
    <script>
        window.api_base_url = '{% url "teamized:home" %}api/';
    </script>

    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.32/dist/sweetalert2.min.js"
            integrity="sha256-xMN7F3ir6Ty4qqJvPHcZ84Ker+HSJ+2CWWIDcNR1jkM=" crossorigin="anonymous"></script>

    <!-- Main app script -->
    <script src="{% static 'teamized/app/mainapp.js' %}"></script>
{% endblock scripts %}

{% block contentcontainer %}
    <!-- Main content area (everything below the menubar) -->
    <div id="app-root" class="d-flex">
        <div id="app-sidebar" data-bs-theme="dark">
            <!-- Filled by React -->
        </div>
        <div id="app-maincontent" class="w-100 overflow-auto">
            <!-- Filled by React -->
        </div>
    </div>
{% endblock contentcontainer %}