{% extends 'teamized/base.html' %}
{% load i18n %}

{% comment %} This debug page can be opened via the secret debug menu {% endcomment %}

{% block title %}DEBUG{% endblock title %}

{% block content %}
    <h1>DEBUG</h1>
    <button onclick="debug_reload()" class="btn btn-outline-primary mb-2">Aktualisieren / Neu laden</button>

    <h3>App-Daten</h3>
    <label for="appdata">Daten im JSON-Format</label>
    <textarea id="appdata" style="resize: both;" class="w-100 form-control mb-2" rows="10" disabled></textarea>
    <button onclick="debug_copy()" class="btn btn-outline-primary mb-2">Kopieren</button>
    <button onclick="debug_remove_me()" class="btn btn-outline-danger mb-2">Mich entfernen</button>
    <button onclick="debug_remove_members()" class="btn btn-outline-danger mb-2">Teammitglieder entfernen</button>
    <button onclick="debug_remove_teamcache()" class="btn btn-outline-danger mb-2">Kompletten Teamcache entfernen
    </button>

{% endblock content %}

{% block scripts %}
    {{ block.super }}

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        let data = {};

        function _debug_display() {
            $('#appdata').html(JSON.stringify(data, null, 2));
        }

        function _debug_load(wd) {
            data = JSON.parse(JSON.stringify(wd.appdata));
            _debug_display();
        }

        function debug_copy() {
            navigator.clipboard.writeText($('#appdata').html())
        }

        function debug_remove_teamcache() {
            data.teamcache = "Aus Datenschutzgründen entfernt.";
            _debug_display();
        }

        function debug_remove_me() {
            data.user = "Aus Datenschutzgründen entfernt.";
            for (let teamId in data.teamcache) {
                data.teamcache[teamId].team.member.user = "Aus Datenschutzgründen entfernt.";
            }
            _debug_display();
        }

        function debug_remove_members() {
            for (let teamId in data.teamcache) {
                data.teamcache[teamId].members = "Aus Datenschutzgründen entfernt.";
            }
            _debug_display();
        }

        function debug_reload() {
            if (window.opener !== null) {
                _debug_load(window.opener);
            } else {
                alert('Die ursprüngliche App-Seite wurde geschlossen!');
            }
        }

        window.addEventListener('load', () => {
            if (window.opener !== null) {
                _debug_load(window.opener);
            } else {
                alert('Diese Seite muss aus dem DEBUG-Menu geöffnet werden!');
                location.href = "about:blank";
            }
        });
    </script>
{% endblock scripts %}
