{% load i18n %}
{% url 'orgatask:account-password-reset-confirm' uidb64=uid token=token as path %}
{% blocktranslate with email=email username=user.username url=protocol|add:"://"|add:domain|add:path %}
Guten Tag


Für den Account mit der E-Mail "{{ email }}" wurde eine Zurücksetzung bzw. Erstellung des Passworts angefordert.

Falls du das warst, kannst du unter folgendem Link dein Passwort (zurück)setzen: {{ url }}

Falls du das nicht warst, kannst du diese E-Mail ignorieren. Vermutlich hat sich bloss jemand einen Scherz erlaubt.

Dein Benutzername: "{{ username }}"


mit freundlichen Grüssen,

Rafael Urben
Team OrgaTask
{% endblocktranslate %}
