{% extends 'orgatask/base.html' %}
{% load static i18n %}

{% block title %}{% translate "App" %}{% endblock title %}

{% block extrahead %}
    <!-- Sweetalert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
    <link rel="stylesheet" href="{% static 'orgatask/css/app.css' %}">
{% endblock extrahead %}

{% block menubartitle %}
    <a id="menubartitle" class="navbar-brand ms-1" href="#">
        <i class="fas fa-fw fa-bars me-1"></i>
        OrgaTask
    </a>
{% endblock menubartitle %}

{% block additional_menubar_items %}
    <div id="orgatask_appmenubar">
        <!-- Filled by React -->
    </div>
    <li class="nav-item border-lg rounded border-secondary ms-2" id="refreshbutton">
        <a class="nav-link ms-1 me-1" href="#" title="{% translate "Neu laden" %}">
            <i class="fas fa-fw fa-rotate"></i>
            <span class="d-lg-none ms-2">{% translate "Neu laden" %}</span>
        </a>
    </li>
    <li class="nav-item dropdown border-lg rounded border-danger ms-2 debug-only">
        <a class="nav-link dropdown-toggle ms-1 me-1 text-danger" href="#" title="DEBUG MENU" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-fw fa-bug"></i>
            <span class="d-lg-none ms-2">DEBUG MENU</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#" onclick="_OrgaTask.Navigation.resetPage(); alert('Done!')">Navigation.resetPage()</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" onclick="navigator.clipboard.writeText(JSON.stringify(orgatask)); alert('Daten wurden in die Zwischenablage kopiert!')">Daten kopieren</a></li>
            <li><a class="dropdown-item" href="#" onclick="window.open('{% url "orgatask:app-debug" %}', '_blank');">Daten anzeigen</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" onclick="_OrgaTask.Utils.toggleDebug()">DEBUG-Modus verlassen</a></li>
        </ul>
    </li>
{% endblock additional_menubar_items %}

{% block scripts %}
    {{ block.super }}
    <script>
        document.api_base_url = '{% url "orgatask:home" %}api/';
    </script>

    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!-- JQuery -->	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- React -->
    {% if debug %}
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    {% else %}
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    {% endif %}

    <!-- App -->
    <script src="{% static 'orgatask/app/app.js' %}" type="module"></script>
{% endblock scripts %}

{% block contentcontainer %}
    <div id="orgatask_app" class="d-flex sidebar-visible">
        <div id="orgatask_appsidebar">
        </div>
        <div id="orgatask_maincontent" class="w-100 overflow-scroll">
        </div>
    </div>
{% endblock contentcontainer %}