{% extends 'orgatask/base.html' %}
{% load static i18n %}

{% block title %}{% translate "App" %}{% endblock title %}

{% block extrahead %}
    <!-- Sweetalert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
    <link rel="stylesheet" href="{% static 'orgatask/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'orgatask/css/darkinvert.css' %}">
{% endblock extrahead %}

{% block menubartitle %}
    <a id="menubartitle" class="navbar-brand ms-1" href="#">
        <i class="fas fa-fw fa-bars me-1"></i>
        OrgaTask
    </a>
{% endblock menubartitle %}

{% block additional_menubar_items %}
    <div id="app-menubar">
        <!-- Filled by React -->
    </div>
    <li class="nav-item border-lg rounded border-secondary ms-2" id="refreshbutton">
        <a class="nav-link ms-1 me-1" href="#" title="{% translate "Neu laden" %}">
            <i class="fas fa-fw fa-rotate"></i>
            <span class="d-lg-none ms-2">{% translate "Neu laden" %}</span>
        </a>
    </li>
    <li class="nav-item dropdown border-lg rounded border-danger ms-2 debug-only">
        <a class="nav-link dropdown-toggle ms-1 me-1 text-danger" href="#" title="DEBUG MENU" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-fw fa-bug"></i>
            <span class="d-lg-none ms-2">DEBUG MENU</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item text-info" href="#" onclick="window.open('{% url "orgatask:app-debug" %}', '_blank');">DEBUG-Seite öffnen</a></li>
            <li><a class="dropdown-item text-danger" href="#" onclick="window._App.Utils.toggleDebug()">DEBUG-Modus verlassen</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" onclick="window._App.Navigation.reRender(); alert('Done!')">Navigation.reRender()</a></li>
            <li><a class="dropdown-item" href="#" onclick="window.location.reload(true)">location.reload(true)</a></li>
        </ul>
    </li>
{% endblock additional_menubar_items %}

{% block scripts %}
    {{ block.super }}
    <script>
        document.api_base_url = '{% url "orgatask:home" %}api/';
    </script>

    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.min.js" integrity="sha256-CT21YfDe01wscF4AKCPn7mDQEHR2OC49jQZkt5wtl0g=" crossorigin="anonymous"></script>
    <!-- JQuery -->	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- React -->
    {% if debug %}
    <script src="https://unpkg.com/react@17.0.2/umd/react.development.js" integrity="sha384-xQwCoNcK/7P3Lpv50IZSEbJdpqbToWEODAUyI/RECaRXmOE2apWt7htari8kvKa/" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js" integrity="sha384-E9IgxDsnjKgh0777N3lXen7NwXeTsOpLLJhI01SW7idG046SRqJpsW2rJwsOYk0L" crossorigin="anonymous"></script>
    {% else %}
    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js" integrity="sha384-7Er69WnAl0+tY5MWEvnQzWHeDFjgHSnlQfDDeWUvv8qlRXtzaF/pNo18Q2aoZNiO" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js" integrity="sha384-vj2XpC1SOa8PHrb0YlBqKN7CQzJYO72jz4CkDQ+ePL1pwOV4+dn05rPrbLGUuvCv" crossorigin="anonymous"></script>
    {% endif %}

    <!-- App -->
    <script src="{% static 'orgatask/app/app.js' %}" type="module"></script>
{% endblock scripts %}

{% block contentcontainer %}
    <div id="app-root" class="d-flex sidebar-visible">
        <div id="app-sidebar">
        </div>
        <div id="app-maincontent" class="w-100 overflow-auto">
        </div>
    </div>
{% endblock contentcontainer %}