{% comment %} Base template for all OrgaTask pages {% endcomment %}

<!DOCTYPE html>
<html lang="de">

    {% load i18n static %}

    <head>
        {% block head %}
            <title>{% block title %}{% endblock %} | OrgaTask</title>
            <meta charset="utf-8"/>
            {% if not indexable %}
                <meta name="robots" content="noindex">
            {% endif %}
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <meta name="apple-mobile-web-app-status-bar-style" content="black">
            <meta name="theme-color" content="#000"/>
            <link rel="manifest" href="{% url "orgatask:manifest" %}">

            {% block stylesheets %}
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
                <link rel="stylesheet" href="{% static 'orgatask/css/base.css' %}">
            {% endblock %}

        {% endblock %}
        {% block extrahead %}{% endblock %}
    </head>

    <body>

        <!-- Menubar -->
        {% block menubar %}
            <nav id="menubar" class="navbar navbar-expand-lg navbar-dark bg-dark">
                <style>
                    @media (min-width: 992px) {
                        .border-lg {
                            border: 1px solid #ccc;
                        }
                    }
                </style>

                <div class="container-fluid">
                    {% block menubartitle %}
                        <a id="menubartitle" class="navbar-brand ms-3" href="{% url 'orgatask:home' %}">OrgaTask</a>
                    {% endblock menubartitle %}
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav nav w-100 me-1 mb-2 justify-content-end">
                            {% block additional_menubar_items %}
                            {% endblock additional_menubar_items %}
                            {% block menubar_items_end %}
                                {% if not user.is_authenticated %}
                                    <li class="nav-item border-lg rounded border-secondary ms-2">
                                        <a class="nav-link ms-1 me-1" href="{% url 'orgatask:home' %}" title="{% translate "Startseite" %}">
                                            <i class="fas fa-fw fa-home"></i>
                                            <span class="d-lg-none ms-2">{% translate "Startseite" %}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item border-lg rounded border-secondary ms-2">
                                        <a class="nav-link ms-1 me-1" href="{% url 'account:login' %}?next={% url 'orgatask:app' %}" title="{% translate "Login" %}">
                                            <i class="fas fa-fw fa-sign-in-alt"></i>
                                            <span class="d-lg-none ms-2">{% translate "Login" %}</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item border-lg rounded border-secondary ms-2">
                                        <a class="nav-link ms-1 me-1" href="{% url 'account:home' %}?next={% url 'orgatask:app' %}" title="{% translate "Account" %}">
                                            <i class="fas fa-fw fa-user"></i>
                                            <span class="d-lg-none ms-2">{% translate "Account" %}:</span>
                                            <span class="navbar-text ms-0 ms-lg-2">{{ user.username }}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item border-lg rounded border-secondary ms-2">
                                        <a class="nav-link ms-1 me-1" href="{% url 'orgatask:home' %}" title="{% translate "Startseite" %}">
                                            <i class="fas fa-fw fa-home"></i>
                                            <span class="d-lg-none ms-2">{% translate "Startseite" %}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item border-lg rounded border-secondary ms-2">
                                        <a class="nav-link ms-1 me-1" href="{% url 'account:logout' %}?next={% url 'orgatask:home' %}" title="{% translate "Logout" %}">
                                            <i class="fas fa-fw fa-sign-out-alt"></i>
                                            <span class="d-lg-none ms-2">{% translate "Logout" %}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endblock menubar_items_end %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock menubar %}
        
        <!-- Main content -->
        {% block contentcontainer %}
            <div class="px-4 py-3 container-fluid" id="maincontent">
                {% block content %}
                {% endblock content %}
            </div>
        {% endblock contentcontainer %}
        
        <!-- Scripts -->
        {% block scripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        
        {% endblock scripts%}
    </body>

</html>
