{% extends 'orgatask/base.html' %}
{% load i18n %}

{% block title %}Startseite{% endblock title %}

{% block extrahead %}
    <style>
        .b-example-divider {
            height: 2rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }
        
        .icon-square {
            width: 3rem;
            height: 3rem;
            border-radius: .75rem;
        }
    </style>
{% endblock extrahead %}

{% block contentcontainer %}

    <div class="px-4 py-5 my-5 text-center">
        {% comment %} <img class="d-block mx-auto mb-4" src="" alt="" width="72" height="57"> {% endcomment %}
        <h1 class="display-5 fw-bold">OrgaTask</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Arbeite zusammen mit deinem Team oder alleine an deinen Lieblingsprojekten.<br />
                Diese App unterstützt dich bei der Planung und Umsetzung von Projekten in deinem Team.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'orgatask:app' %}" class="btn btn-primary btn-lg px-4 gap-3">Zur App</a>
                <a href="#features" class="btn btn-outline-secondary btn-lg px-4 disabled">Weitere Infos</a>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="features">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fas fa-fw fa-business-time"></i>
                </div>
                <div>
                    <h3 class="fs-2">Arbeitszeit</h3>
                    <p>Zeichne deine Arbeitszeit auf oder erfasse sie manuell und sieh dir Statistiken von dir und deinem Team dazu an.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fas fa-fw fa-calendar-days"></i>
                </div>
                <div>
                    <h3 class="fs-2">Kalender</h3>
                    <p>Erstelle Kalender, fülle sie mit deinen wichtigen Terminen und Abgabefristen und abonniere sie direkt in deiner Kalenderapp.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fas fa-fw fa-tasks"></i>
                </div>
                <div>
                    <h3 class="fs-2">ToDo-Listen</h3>
                    <p>Behalte die Übersicht über deine Aufgaben und Ideen mithilfe von ToDo-Listen.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Dark mode</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Die App passt sich automatisch den Einstellungen des verwendeten Geräts an.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'orgatask:app' %}" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Jetzt starten</a>
                </div>
            </div>
        </div>
    </div>

{% endblock contentcontainer %}
