/* Style overrides for the app */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app-root {
    flex: 1;
    min-height: 0; /* Prevent app from exceeding parent height; no clue why it works tho */
}

#app-sidebar .nav-link {
    /* Sidebar links */
    white-space: nowrap;
}

#app-sidebar .nav-link>i {
    /* Sidebar icons */
    margin-right: 0.5rem;
    font-size: 0.8rem;
    bottom: 0.1rem;
    position: relative
}

/* Sidebar */

body:not(.sidebar-visible) #app-sidebar {
    display: none;
}

/* Sidebar toggle */

body:not(.sidebar-visible) .sidebar-toggle .when-open {
    display: none;
}

body.sidebar-visible .sidebar-toggle .when-closed {
    display: none;
}

@media (max-width: 991px) {
    /* CSS overrides on smaller screens where the menu is collapsible */

    #app-menubar {
        padding-top: 0.6rem;
        padding-bottom: 0.3rem;
    }

    body.sidebar-visible #app-maincontent {
        display: none;
    }

    body.sidebar-visible #app-sidebar {
        width: 100vw;
    }
}

/* SweetAlert overrides */

body.swal2-shown:not(.swal2-no-backdrop) {
    /* Use entire window height */
    height: 100vh !important;
}

.swal2-input,
.swal2-file,
.swal2-textarea,
.swal2-select,
.swal2-radio,
.swal2-checkbox {
    /* Remove useless x-margins in SWALs that could show scrollbars on smaller devices */
    margin: 1em 0 3px;
}

/* DEBUG */

body:not(.debug) .debug-only {
    display: none;
}

body.debug .navbar-toggler {
    border-color: #dc3545;
}

body.debug .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28220, 53, 69, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
