/* Style overrides for the app */

body {
    height: 100vh;
}

#react-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app-root {
    flex: 1;
    min-height: 0; /* Prevent app from exceeding parent height; no clue why it works tho */
}

/* SweetAlert overrides */

body.swal2-shown:not(.swal2-no-backdrop) {
    /* Use entire window height */
    height: 100vh !important;
}

.swal2-input,
.swal2-file,
.swal2-textarea,
.swal2-select,
.swal2-radio,
.swal2-checkbox {
    /* Remove useless x-margins in SWALs that could show scrollbars on smaller devices */
    margin: 1em 0 3px;
}

.swal2-input,
.swal2-textarea {
    /* Make input fields full width */
    width: 100%;
}

/* DEBUG */

body:not(.debug) .debug-only,
body:not(.debug) .debug-id,
body:not(.show-debug-ids) .debug-id {
    display: none;
}

body.debug.show-debug-ids td.debug-id,
body.debug.show-debug-ids th.debug-id {
    width: 1px;
    white-space: nowrap;
}

body.debug .navbar-toggler {
    border-color: #dc3545;
}

body.debug .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28220, 53, 69, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
