/* Bootstrap overrides for 5.3.1 | should be fixed in v6 */

[data-bs-theme="dark"] .border-dark {
    border-color: rgba(var(--bs-light-rgb),var(--bs-border-opacity)) !important;
}

[data-bs-theme="dark"] .btn-outline-dark {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248,249,250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}

/* Custom changes */

body[data-bs-theme="dark"] #app-maincontent {
    --bs-body-bg: black;
    background-color: var(--bs-body-bg);
}
