name: Check python code

on: [ push ]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
          python-version: [ "3.12", "3.14" ]

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install black pylint pylint-django
      - name: Check code formatting with black
        run: |
          python -m black --check .
      - name: Check code quality with pylint
        run: |
          python -m pylint . --output-format=github
