name: Check frontend code

on: [ push ]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [ '22.x', '23.x' ]

    defaults:
      run:
        working-directory: teamized/app

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Check eslint
        run: npm run eslint-check
      - name: Check prettier
        run: npm run prettier-check
      - name: Check typescript
        run: npm run typescript-check
      - name: Check build is working
        run: npm run build
