name: Build and upload Python Package to TestPyPi

on:
  push:
    branches:
      - main
    paths:
      - '_version.txt'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'
      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: '24.x'
      - name: "[Frontend] Install npm dependencies"
        working-directory: teamized/app
        run: npm ci
      - name: "[Frontend] Build frontend"
        working-directory: teamized/app
        run: npm run build
      - name: Install python build dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build
      - name: Build release distributions
        run: |
          python -m build
      - name: Store the distribution packages
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: python-package-distributions
          path: dist/

  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi-test
      url: https://test.pypi.org/project/django-teamized
    permissions:
      id-token: write
    needs:
      - build

    steps:
      - name: Download all the dists
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish on TestPyPi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
